body {
  max-width: 1500px;
}
a {
  text-decoration: none;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 30px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header-ttl {
  width: 64px;
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
  font-weight: bold;
  transition: opacity 0.3s;
}
.header-nav-item:hover {
  opacity: 0.7;
}
.header-ttl {
  transition: opacity 0.3s;
}
.header-ttl:hover {
  opacity: 0.7;
}
.header-nav-item a {
  color: #000;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

/* top */
.top-mv {
  background-image: url(../img/mv.png);
  background-size: cover;
  height: 250px;
  width: 100%;
  background-position: center;
  position: relative;
}
.top-mv-container {
  text-align: center;
  align-items: center;
  color: #fff;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 2rem;
}
.top-mv-ttl {
  font-size: 32px;
}

/* service */
.service {
  margin: 80px 0;
}
.service-container {
  width: 85%;
  margin: 0 auto;
}
.service-item {
  display: flex;
  padding: 20px 0 25px;
  border-top: 1px solid #000;
}
.service-item-ttl {
  font-size: 1.3rem;
}
.service-item:last-of-type {
  border-bottom: 1px solid #000;
}
.service-item div {
  padding-left: 30px;
}
.service-item-ttl {
  padding: 5px 0 10px;
}
.service-item-img {
  width: 300px;
}

/* contact */
.contact {
  height: 350px;
  background: #f5f6f9;
  text-align: center;
}
.contact h2 {
  font-size: 30px;
  padding: 90px 0 25px;
}
.contact-btn {
  width: 20vw;
  margin: 50px auto 80px;
  display: block;
  text-align: center;
  color: #fff;
  background: #cd0224;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: opacity 0.3s;
}
.contact-btn:hover {
  opacity: 0.7;
}
/* footer */
footer {
  padding: 20px 0;
  background: #222;
  color: #fff;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
  font-size: 12px;
}
.footer-wrap small,
.footer-nav {
  margin: 0 auto;
}
.footer-nav-list {
  display: flex;
}
.footer-nav-item {
  transition: opacity 0.3s;
}
.footer-nav-item:hover {
  opacity: 0.7;
}
.footer-nav-item a {
  color: #fff;
}
.footer-nav-item:not(:last-child) {
  margin-right: 15px;
  border-right: 1px solid #fff;
  padding-right: 15px;
}

@media screen and (min-width: 769px) {
.menu {
  display: none;
}
}
@media screen and (max-width: 768px) {
  /* header */
.header-nav-item:not(:last-child) {
  margin-right: 0;
}
.header-nav-item a {
  color: blue;
}
  /* service */
.service-list {
  display: block;
}
.service-item{
  width: 100%;
  display: block;
  }
.service-item-img {
  width: 100%;
}
.service-item div {
  padding-left: 0;
  }
/* footer */
.footer-nav-list {
  display: block;
}
.footer-nav-item {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
.footer-nav-item:not(:last-child) {
  border-right: none;
}

/* ドロワーメニュcss */
.header-nav{
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  top: 0;
  background: #fff;
  transition: .7s;
  text-align: center;
}
.header-nav ul{
  padding-top: 80px;
  display: block;
}
.header-nav ul li{
  list-style-type: none;
  margin-top: 50px;
  margin-right: 0;
}
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}
}